Package: me.nepeta.stu
Name: Slyd (SlideToUnlock)
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 11.0)
Version: 0.1.0
Architecture: iphoneos-arm
Description: Slide to unlock for iOS 11 and 12.
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
